table {
    background-color:#494949;
    width:340px;
    height:200px;
}

.left {
    font-size: 14px;
    font-style:italic;
    color:ghostwhite;
}

td {
    font-size:14px;
    
}

.greyed {
    font-size:12px;
    color: #868E8D;
}

.yellow {
    font-size: 12px;
    color:#E9E3A6
}


#NotAnswered {
    font-size:12px;
    color:#C66628;
}

#noSupport {
    position:relative;
    bottom: 13px;
    font-size: 12px;
    font-weight:bold;
    color: #CF0E04;
    column-span: all;
    position:relative;
    left:145px;
}

#circle:before {
    content:"\25CF";
    font-size: 22px;
    color:green;
    position:relative;
    right: 2px;
}

#ticket {
font-size:17px;
   color: #868E8D;
}
a {
    text-decoration: none;
    color:#E9E3A6
}

tbody {
}

ml {
    font-family:sans-serif;
