li{
    list-style-type: none;
}
span:hover {
    text-decoration: underline;
}

ul li ul {
    display:none;
}

ul li:hover ul {
    display:block;
}

.sublistitem {
    color:grey;
    position: relative;
    right:8mm;
}
