@font-face{
    font-family: consolas;
    src: url('Consolas.ttf');
}

@font-face {
    font-family: edwardian;
    src: url('EdwardianScriptITC.ttf');
}

p {
    color: #0094ff;
    font-family: consolas;
    word-break: break-all
    break-after: always;
}

p::first-letter {
    font-size: 50px;
    font-family: edwardian;
}

p::first-line{
    font-weight: bolder
}