pan {
    text-decoration:  underline;
}

.firstLetter {
    text-decoration: underline;
}

#textBox {
    background-color: 
    font-family: consolas;
    font-size: 25px;
    text-align: right;
    width:408px;
    height:54px;
}

#binary {
    
    border:none;
    font-family: consolas;
    font-size: 13px;
    border-spacing: 12px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.zeros {
    border: none;
}

td {
    
    border: 1px solid #BBC8D7;
    border-radius: 3px;
    width:35px;
    height:30px;
}

body {
    font-size:12px;
    padding: 10px;
}

div {
    line-height:0px;
}

table {
    border: 1px solid grey;
}

thead tr td {
    border: none;
    padding: none;
    border-spacing: none;
}

button {
    width: 35px;
    width:inherit;
}

.buttons {
    text-align: center;
}

.menu {
    height: 5px;
    width:10px;
    vertical-align: bottom;
    
}    

